@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Rajdhani|Bitter);

/* container style */
.about_container {
   border-radius: 1em;
   background-color:rgba(80,80,80,0.5);
   color: white;
   padding: 10px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5em;
   margin-top: 5em;
   text-align: center;
}

/* Header style */
.about_header {
   font-size: 400%;
   margin-top: 1.2em;
   margin-bottom: 0.8em;
   font-family: 'Bitter', serif;
}

/* Paragraph style */
.about_paragraph {
   font-size: 2em;
   margin-bottom: 2em;
   font-family: 'Rajdhani', sans-serif;
}

/* line style */
.white_line2 { 
   display: block;
   margin-top: 1em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: solid;
   border-width: 2px;
   color: white;
   width: 85%
 }

/* credits style */
.credits {
   padding: 1em;
   font-size: 1.2em;
   line-height: 1.4em;
   font-family: 'Rajdhani', sans-serif;
}

.credits_link {
   padding: 1em;
   color: white;
   text-decoration: none;
}

.credits_link:hover {
   color: red;
   transition: ease 0.3s; 
}
